# Various IDEs and Editors
.vscode/
.idea/
**/*~

# Mac OSX temporary files
.DS_Store

# dfx temporary files
.dfx/

# frontend code
node_modules/
dist/
lib

# Cargo build output
target/

# Test
snapshots/

# Various IDEs and Editors
**/.vscode/
**/.idea/
**/*~

# Mac OSX temporary files
**/.DS_Store

# dfx temporary files
**/.dfx/

# frontend code
**/node_modules/
**/dist/
**/lib

# Cargo build output
**/target/


# Test
snapshots/

credentials/*.txt
clients/idls/**/*.ts
clients/idls/**/*.js

# canisters/
canisters/**/*.wasm
canisters/**/Cargo.lock
canisters/**/*.auto.did

# configs
configs/*.json
!configs/constant.json